* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  background-color: rgb(157, 159, 161);
  height: 100vh;
}
.box-menu {
  width: 100%;
  height: 100px;
  background-color: rgb(115, 117, 117);
  display: flex;
}
.logo {
  width: 50%;
  height: 100px;
  background-color: rgb(115, 117, 117);
  display: flex;
}
.img {
  width: 15%;
  height: 90px;
  background-color: rgb(253, 247, 247);
  margin-left: 20px;
  border-radius: 100%;
  margin-top: 5px;
}
.img img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
}
.menu {
  width: 50%;
  height: 100px;
  background-color: 565A5Cazure;
  display: flex;
}
.menu ul {
  list-style-type: none;
  display: flex;
}
.menu ul li {
  display: flex;
}
.menu ul li a {
  font-size: 20px;
  font-family: Times New Roman;
  display: block;
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 30px;
  margin-right: 30px;
  color: white;
}
.menu ul li a:hover {
  color: #f50505;
}
.name {
  width: 60%;
  height: 40px;
  display: flex;
  margin-top: 25px;
  margin-left: 5px;
  color: white;
}
.name p {
  font-size: 20px;
  font-family: Tim New Roman;
  margin-top: 10px;
}
.box-text {
  width: 100%;
  height: 25%;
}
.box-text h1 {
  text-align: center;
  font-size: 50px;
  color: white;
}
.box-text p {
  text-align: center;
  font-size: 28px;
  color: white;
}
.box2-text {
  width: 70%;
  height: 60%;
  margin: auto;
}
.text3 {
  width: 40%;
  height: 80%;
  float: left;
  margin-top: 5%;
  display: flex;
  user-select: none;
  justify-content: space-evenly;
  gap: 2%;
  flex-wrap: wrap;
}
.text3-img {
  width: 45%;
  height: 100%;
  background-color: blueviolet;
  float: left;
  margin-left: 15%;
  border-radius: 100%;
}
.text3-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}
.img-text {
  width: 100%;
  height: 32%;
}
.img1-2 {
  width: 30%;
  height: 100%;
  float: left;
}
.img1-2 img {
  width: 70%;
  height: 75%;
  object-fit: cover;
}
.text1-2 {
  width: 70%;
  height: 100%;
  float: left;
}
.text1-2 p {
  color: white;
  font-size: 35px;
  margin-top: 20px;
}
